In [1]:
import pandas as pd
data = pd.read_csv(r'data.csv',encoding='latin1')

In [2]:
data.head()

,Transaction ID,Timestamp,Sender Name,Sender UPI ID,Receiver Name,Receiver UPI ID,Amount (INR),Status
0,914154e8-230a-426d-ab66-736efb9e11de,2024-06-22 04:06:38,Tiya Mall,4161803452@okaxis,Mohanlal Golla,7776849307@okybl,3907.34,FAILED
1,e0e1e4a0-da2e-421b-9a98-222a47e9bc91,2024-06-19 06:04:49,Mohanlal Bakshi,8908837379@okaxis,Mehul Sankaran,7683454560@okaxis,8404.55,SUCCESS
2,8e9c0ae9-7452-4ae3-aa3f-073bacd085b6,2024-06-04 04:56:09,Kismat Bora,4633654150@okybl,Diya Goel,2598130823@okicici,941.88,SUCCESS
3,fbd51157-353c-4365-bdb1-1c28649db235,2024-06-09 09:56:07,Ayesha Korpal,7018842771@okhdfcbank,Rhea Kothari,2246623650@okaxis,8926.00,SUCCESS
4,81fba9b7-445c-4a3a-99d4-89e600575b46,2024-06-25 08:38:19,Jivin Batta,1977143985@okybl,Baiju Issac,5245672729@okybl,2800.55,SUCCESS

In [3]:
data.head()

,Transaction ID,Timestamp,Sender Name,Sender UPI ID,Receiver Name,Receiver UPI ID,Amount (INR),Status
0,914154e8-230a-426d-ab66-736efb9e11de,2024-06-22 04:06:38,Tiya Mall,4161803452@okaxis,Mohanlal Golla,7776849307@okybl,3907.34,FAILED
1,e0e1e4a0-da2e-421b-9a98-222a47e9bc91,2024-06-19 06:04:49,Mohanlal Bakshi,8908837379@okaxis,Mehul Sankaran,7683454560@okaxis,8404.55,SUCCESS
2,8e9c0ae9-7452-4ae3-aa3f-073bacd085b6,2024-06-04 04:56:09,Kismat Bora,4633654150@okybl,Diya Goel,2598130823@okicici,941.88,SUCCESS
3,fbd51157-353c-4365-bdb1-1c28649db235,2024-06-09 09:56:07,Ayesha Korpal,7018842771@okhdfcbank,Rhea Kothari,2246623650@okaxis,8926.00,SUCCESS
4,81fba9b7-445c-4a3a-99d4-89e600575b46,2024-06-25 08:38:19,Jivin Batta,1977143985@okybl,Baiju Issac,5245672729@okybl,2800.55,SUCCESS

In [4]:
data['Status'].value_counts()

Status
SUCCESS    85565
FAILED     25435
Name: count, dtype: int64